@import './components/navbar/navbar.scss',
'./components/content-card/content-card.scss',
'./components/sign-up/sign-up.scss',
'./components/feature-card/feature-card.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;

}

.background-layer {
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app-content-wrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}