@import './components/card/card.scss', './components/navbar/navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
;

body {
    font-family: 'Manrope', sans-serif;
}

.background-image {
    background: url('../background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.background-layer {
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.app-content-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-bottom: 10rem;

}