<!-- views/partials/card.ejs -->

<div class="content-card">
    <div class="content-card-body">
      <div class="content-card-title">
        <h1><%- contentCard.title %> </h1>
      </div>
      <div class="content-card-text-wrapper">
      <div class="content-card-text">
        <p><%- contentCard.text %></p>
      </div>
    </div>
  </div>
</div>