<!-- views/partials/footer.ejs -->

<div class="footer-wrapper">
    <div class="footer-content">
        <a class="footer-brand" href="/">
            <img src="../img/pathways-logo.png" height="50" alt="Pathways"/> 
            <div class='footer-icon-wording'>Pathways</div>
          </a> 

          <div class="footer-social">
            <a class="footer-social-link" href=""><img src='./img/facebook.svg' alt='Facebook'/></a>
            <a class="footer-social-link" href=""><img src='./img/instagram.svg' alt='Instagram'/></a>
            <a class="footer-social-link" href=""><img src='./img/twitter.svg' alt='Twitter'/></a> 
          </div>

          <div class="footer-links">   
            <a class="footer-link" href="/features">Features</a>
            <a class="footer-link" href="/teach">Teach</a>
            <a class="footer-link" href="/learn">Learn</a> 
        </div>  
        </div>
        <div class="footer-social-media"></div>
    </div>
</div>