<!-- views/partials/card.ejs -->

<div class="content-card">
    <div class="content-card-body">
      <div class="content-card-title">
        <%- title %>
      </div>
      <div class="content-card-text-wrapper">
      <div class="content-card-text">
        <%- text %>
      </div>
    </div>
  </div>
</div>