<!-- views/partials/home-card.ejs -->

<div class="home-card">
    <div class="home-card-body">
      <div class="home-card-title">Experience Learning 2.0</div>
      <div class="home-card-text-wrapper">
      <div class="home-card-text">Pathways is the future of learning <i>anything</i>.</div>
      <div class="home-card-text">Join the newsletter to find out how you can get early access.</div>
    </div>
      <div class="home-card-input-button-wrapper">
      <input class="form-control home-input" type="email" name='email-input' placeholder="Enter your email" aria-label="default input example"/>
      <a href="#" class="btn btn-light home-signup-button">Join Pathways</a>
    </div>
    </div>
  </div>