<!-- views/partials/signup.ejs -->

<div class="card-input-button-wrapper">
    <input class="form-control card-input" type="email" name='email-input' placeholder="Enter your email" aria-label="Enter your email"/>
    <a href="#" class="btn btn-light card-signup-button">Join Pathways</a>
  </div>
  <script src="../javascript/signup.js" ></script>