body {
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

p {
    font-size: 1.75rem;
}

.small-body {
    font-size: 1rem;
}

a {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    text-decoration: none;
}