@mixin flexbox($direction, $justify: '', $align: '') {
    display: flex;
    flex-direction: $direction;

    @if $justify !="" {
        justify-content: $justify;
    }

    @if $align !="" {
        align-items: $align;
    }
}

@mixin logoLettering {
    font-size: 1.25rem;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: .1rem;
    text-decoration: none;
}