$font-primary-white: white;
$font-primary-black: black;

$brand-purple: rgb(160, 44, 241);

$brand-nav-color: rgba(white, .55);

$nav-link-primary: rgba(white, .55);
$active-link-white: white;

$background-layer: rgba(0, 0, 0, 0.507);
$background-black-transparent: rgba(0, 0, 0, 0.664);
$background-default: black;